<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nulla fuga molestiae impedit, laboriosam dignissimos quidem veniam et. Nemo qui, quo omnis fuga tempora doloremque ab laborum ipsam ipsum quas!
        <a href="/about">about page</a>
    </h1>
</body>
</html>